/*{
    margin: 0;
    padding: 0;
} */
body{
    background-color: #f4f4f4; 
    color: #555555;
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.6em;
     
}

.clr{
    clear: both;
}

.Container{
    width: 50%; 
    margin: auto;
}

.box1{
    background-color: #555;
    color: #fff;
   border-top: 5px solid red;
    border-right: 5px solid blue;
    border-bottom: 5px solid green;
    border-left: 5px solid red; 
   /* border: red 5px solid; */
}

.box1 h1{
    color: aqua;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-style: italic; 
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 1em;
}
   
.box2{
    border: 3px dotted #ccc;
    padding: 20px;
    margin: 20px;
}

.Category{
    border: 1px #ccc solid;
    padding: 10px;
    border-radius: 15px;
}

.Category p{
    text-align: center;
}

.Category ul{
list-style: square;
}

a{
    text-decoration: none;
}

a:hover{
    color: red;
}

a:active{
    color: green;
}

.Category li{
    padding-bottom: 8px;
    border-bottom: dotted 1px #333; 
}

.my-form{
    padding: 20px;
}

.my-form .form-group{
    padding-bottom: 15px;
}

.my-form label{
    display: block;
}

.my-form input[type="text"], .my-form textarea{
    padding: 8px;
    width: 100%;
}

.my-form input[type="submit"]{
    background-color: #333;
    color:#fff;
   padding:10px 15px;
    border:none; 
}

.my-form input[type="submit"]:hover{
    background: red;
    color: #fff;
}

.block{
    float: left;
    width: 30%;
    border: #333 1px solid;
    padding: 10px;
    box-sizing: border-box; 
}

#main-block{
    float: left;
    width: 70%; 
    padding: 15px;
    box-sizing: border-box; 
}

#side-block{
    float: right;
    width: 30%;
    background-color: #333;
    color: #fff;
    padding: 15px;
    box-sizing: border-box; 
}

.p-box{
    width:800px;
    height: 500px;
    border: 1px solid #000;
    margin-top: 30px;
    position: relative;
    background-image: url('./images/image008.gif');
    background-position: center center;
    background-repeat: no-repeat;
}

.p-box h1{
    position: absolute;
    top: 40px;
    left: 200px;
}

.p-box h2{
    position: absolute;
    top: 40px;
    right:100px;
}

.my-list li:first-child{
    background: red;
}

.my-list li:last-child{
    background: blue;
}

.my-list li:nth-child(3){
    background: yellow;
}

.my-list li:nth-child(even){
    background:gray;
}